<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carrental">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewVehicleDetailEmployee"></activity>
        <activity android:name=".ModifyVehicle" />
        <activity android:name=".RentNow" />
        <activity android:name=".ReserveNow" />
        <activity android:name=".ModifyCustomer" />
        <activity android:name=".AddVehicle" />
        <activity android:name=".CarsDetails" />
        <activity android:name=".ViewReservations" />
        <activity android:name=".ViewVehiclesEmployee" />
        <activity android:name=".ViewCustomers" />
        <activity android:name=".AddCustomer" />
        <activity android:name=".ClientHome" />
        <activity android:name=".EmployeeHome" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>